/* Add your styles here */

h2 {
    color: #333;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-header-row,
  .mat-row {
    display: flex;
    align-items: center;
  }
  
  .mat-cell,
  .mat-header-cell {
    flex: 1;
    text-align: center;
  }
  
  button {
    margin-top: 10px;
  }
  